.adminPage {
	:global {
		.ant-card {
			margin: 24px;
		}

		.ant-table {
			background: #fff;
		}

		.ant-image {
			img {
				object-fit: cover;
				border-radius: 4px;
			}
		}

		.ant-space {
			.ant-btn {
				display: flex;
				align-items: center;

				.anticon {
					margin-right: 8px;
				}
			}
		}
	}
}
